$color-black: #000000;
$color-white: #ffffff;
$color-blue: #2c39f2;
$color-light-blue: #00afdb;
$color-orange: #ff8c00;
$color-light-black: rgb(25, 24, 23);
$color-gray: rgb(229, 229, 229);

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1050px;
